---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/sections/Intro.astro';
import AboutMe from '@/sections/AboutMe.astro';
import TechStack from '@/sections/TechStack.astro';
import Projects from '@/sections/Projects.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Orphail Dev">
	<main class="xl:max-w-5xl lg:max-w-4xl md:max-w-2xl max-w-lg w-full mx-10">
		<Intro/>
		<AboutMe/>
		<TechStack/>
		<Projects/>
		<Contact/>
	</main>
</Layout>
