---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/sections/Intro.astro';
import AboutMe from '@/sections/AboutMe.astro';
import TechStack from '@/sections/TechStack.astro';
import Projects from '@/sections/Projects.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Orphail's Portfolio">
	<main class="xl:max-w-5xl lg:max-w-4xl md:max-w-2xl max-w-lg w-full mx-10">
		<Intro/>
		<AboutMe/>
		<TechStack/>
		<Projects/>
		<Contact/>
	</main>
</Layout>
<style is:global>
	.hover-underline-effect {
		@apply relative after:absolute dark:after:bg-gray-200 after:bg-black after:bottom-0 after:left-0 after:h-[2px] after:w-full after:translate-y-0 after:opacity-0 hover:after:translate-y-1 hover:after:opacity-100 after:transition after:ease-in-out after:duration-200
	}
</style>