---
import DarkModeButton from '../components/DarkModeButton.astro';
---

<div class="bg-gray-100 dark:bg-gray-900 sm:items-center dark:text-white text-black flex gap-6 items-center justify-end px-4 py-4 sm:px-6 lg:px-8">
    <DarkModeButton/>
</div>