---
import Icon from 'astro-icon';

export interface Props {
	href: string;
	name: string;
    external: string;
}

const { href, name, external } = Astro.props as Props;

---


<a  href={href} target={external ? '_blank' : '_self'}
    class="flex items-center justify-center text-gray-900 dark:text-gray-100"
>
    <span class="link">{name}</span>
    <Icon class={`ml-2 ${external === "true" ? 'block' : 'hidden'}`} pack="mdi" name="open-in-new" size="20"/>
</a>