---
import { Icon } from 'astro-icon'
---

<div class="lg:flex items-center justify-around gap-20 mb-32">
    <img class="lg:hidden md:w-64 md:h-64 w-56 h-56 rounded-full mx-auto border-8 border-black dark:border-gray-800" src="./dani.png" alt="Orphail's face">
    <div class="my-10">
        <div class="pb-4">
            <div class="text-5xl font-bold pb-1">Orphail</div>
            <div class="font-normal text-2xl">Full Stuck Developer</div>
        </div>
        <p class="text-sm md:text-lg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo sed quo quibusdam blanditiis assumenda qui, perspiciatis eum voluptatibus laborum, maiores consectetur amet molestias voluptatem, sit voluptate ipsa est illo atque itaque vitae quod cum laudantium hic suscipit. Impedit, aspernatur minus?
        </p>
        <div class="mt-5 flex gap-6">
            <a href="https://github.com/orphail" target="_blank" aria-label="link to github">
                <Icon class="cursor-pointer transition hover:-translate-y-1" pack="mdi" name="github" size="2x" />
            </a>
            <a href="https://linkedin.com/in/dani-martinez-fernandez" target="_blank" aria-label="link to linkedin">
                <Icon class="cursor-pointer transition hover:-translate-y-1" pack="mdi" name="linkedin" size="2x" />
            </a>
        </div>
    </div>
    <img class="hidden lg:block w-64 h-64 rounded-full mx-auto border-8 border-black dark:border-gray-800" src="./dani.png" alt="Orphail logo">
</div>
