---
import { Icon } from 'astro-icon'
---

<div class="scroll-top-button button-focus sm:inline-flex fixed bottom-0 right-0 cursor-pointer items-center justify-center mr-12 mb-12 p-1.5 rounded-lg z-50"
    x-data="{currentScroll: window.scrollY}"
    x-show="currentScroll > 50"
    x-transition.duration.200ms
    @scroll.window="currentScroll = window.scrollY;"
    @click="window.scrollTo({top: 0, behavior: 'smooth'})"
>
    <Icon class="" pack="mdi" name="arrow-up-bold" size="24" />
</div>
<style is:global>
	.scroll-top-button {
		@apply bg-gray-100 dark:bg-gray-200 dark:border-gray-700 text-gray-500 dark:text-gray-800 dark:hover:text-gray-200 dark:hover:bg-gray-700 hover:bg-gray-200;
	}
</style>