---
import { Icon } from 'astro-icon'
---

<div class="hidden sm:inline-flex button-focus
      dark:bg-gray-700 bg-gray-900 dark:text-gray-100 dark:hover:text-sky-600 hover:bg-gray-700 text-gray-100
        fixed bottom-0 right-0 cursor-pointer items-center justify-center sm:mr-12 sm:mb-24 mr-3 mb-44 p-1.5 rounded-lg z-50 opacity-80"
    x-data="{currentScroll: window.scrollY}"
    x-show="currentScroll > 50"
    x-transition.duration.200ms
    @scroll.window="currentScroll = window.scrollY;"
    @click="window.scrollTo({top: 0, behavior: 'smooth'})"
>
    <Icon class="" pack="mdi" name="arrow-up-bold" size="26" />
</div>