---
import Icon from "astro-icon";

---

<section class="mt-12" id="contact">
    <div class="pb-12 pt-24 text-center">
        <h2 class="text-5xl font-bold">
            <span class="hover-underline-effect">Contact</span>
        </h2>
    </div>

    <form method="POST" class="flex flex-col items-center gap-6" data-netlify="true" netlify-honeypot="bot-field">
        <div class="dark:bg-gray-900 bg-gray-100 rounded-lg lg:w-1/2 md:w-3/4 w-full">
            <div class="relative bg-inherit">
                <input  id="email" 
                        name="email" 
                        type="email" 
                        class="peer bg-transparent h-10 w-full rounded-lg dark:text-gray-100 text-gray-900 placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600" 
                        placeholder="Your e-mail address"
                        autocomplete="off"
                        required
                />
                <label for="email" class="absolute cursor-text left-0 -top-3 text-sm dark:text-gray-100 text-gray-900 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-700 dark:peer-placeholder-shown:text-gray-100 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 dark:peer-focus:text-sky-600 peer-focus:text-sm transition-all">Your e-mail address</label>
            </div>
        </div>

        <div class="dark:bg-gray-900 bg-gray-100 rounded-lg lg:w-1/2 md:w-3/4 w-full">
            <div class="relative bg-inherit">
                <input  id="subject" 
                        name="subject" 
                        type="text" 
                        class="peer bg-transparent h-10 w-full rounded-lg dark:text-gray-100 text-gray-900 placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600" 
                        placeholder="Subject"
                        autocomplete="off"
                        required
                />
                <label for="subject" class="absolute cursor-text left-0 -top-3 text-sm dark:text-gray-100 text-gray-900 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-700 dark:peer-placeholder-shown:text-gray-100 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 dark:peer-focus:text-sky-600 peer-focus:text-sm transition-all">Subject</label>
            </div>
        </div>

        <div class="dark:bg-gray-900 bg-gray-100 rounded-lg lg:w-1/2 md:w-3/4 w-full">
            <div class="relative bg-inherit">
                <textarea   id="message" 
                            name="message" 
                            class="peer bg-transparent h-52 w-full rounded-lg dark:text-gray-100 text-gray-900 placeholder-transparent ring-2 p-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600" 
                            placeholder="Your message"
                            autocomplete="off"
                            required
                />
                <label for="message" class="absolute cursor-text left-0 -top-3 text-sm dark:text-gray-100 text-gray-900 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-700 dark:peer-placeholder-shown:text-gray-100 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 dark:peer-focus:text-sky-600 peer-focus:text-sm transition-all">Your message</label>
            </div>
        </div>

        <div class="hidden">
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
        </div>

        <button type="submit" class="px-5 py-3 dark:bg-gray-700 bg-gray-900 dark:text-gray-100 dark:hover:text-sky-500 hover:bg-gray-700 text-gray-100 rounded-lg flex items-center justify-center">
            <Icon class="mr-3" pack="ph" name="telegram-logo" size="20"/>
            Send message
        </button>
    </form>
</section>
