---
import StackGroup from "@/components/StackGroup.astro";
import frontend from "@/data/frontend.json";
import backend from "@/data/backend.json";
import dbs from "@/data/dbs.json";
import systems from "@/data/systems.json";

export interface Stack {
    name: string;
    logo: string;
    description: string;
    link: string;
    fromYear: string;
    fromMonth: string;
    years: undefined|number;
}

const stacksWithYears = (stacks: any[]) => {
    return stacks.map((stack: Stack) => {
        const date = new Date(Number(stack.fromYear), Number(stack.fromMonth)-1, 1)
        const difMs = Date.now() - date.getTime();
        var diffDate = new Date(difMs);
        
        stack.years = diffDate.getUTCFullYear() - 1970;
        return stack
    })
}
 
---

<section class="mt-12" id="tech_stack">
    <div class="pb-12 pt-24 text-center">
        <h2 class="text-5xl font-bold">
            <span class="hover-underline-effect">Tech stack</span>
        </h2>
    </div>
    
    <div class="flex flex-col gap-24">
        <StackGroup name="Frontend" stacks={stacksWithYears(frontend)} icon="mdi:code" />
        <StackGroup name="Backend" stacks={stacksWithYears(backend)} icon="mdi:code-braces" />
        <StackGroup name="Databases" stacks={stacksWithYears(dbs)} icon="mdi:database-outline" />
        <StackGroup name="Systems" stacks={stacksWithYears(systems)} icon="mdi:cog-outline" />
    </div>
</section>
